.gradient {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: _ngcontent-ng-c484614938_textShine 3s ease-in-out infinite
    alternate;
  animation: _ngcontent-ng-c484614938_textShine 3s ease-in-out infinite
    alternate;
  background: -webkit-radial-gradient(circle, #002fff 0, #3cffae 100%);
  background: radial-gradient(circle, #002fff 0, #3cffae 100%);
  background-clip: text;
  background-size: 200%;
}

@keyframes _ngcontent-ng-c484614938_textShine {
  0% {
    background-position: 0 50%;
  }
  15% {
    background-position: 0 50%;
  }
  85% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
